{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mi tienda</title>
    <link rel="stylesheet" href="{% static 'micss.css'%}">
    <script src="{% static 'mijs.js' %}"></script>
  </head>
  <body onload= "main();">
    <div align = "center">
      <h1> Ms Witty Shop </h1>
    </div>
    <div align = "center">
      <table id= "t02">
        <tr>
          <th>
            <p> Sobre nosotros </p>
          </th>
          <th>
            <a href="video.html">
              <p> Video </p>
            </a>
          </th>
          <th>
            <p> Contacto </p>
          </th>
        </tr>
      </table>
    </div>
    <div align = "center">
      <table>
        <tr>
          <th>
            <a>
              <img src ="/static/moviles-portada.jpg" id= "movil" alt="Portada Moviles" width="300" height="350">
              <br>
              <a href="/moviles"  class="but" title=""> Ver Móviles</a>
            </a>
          </th>
        </tr>
      </table>
    </div>
  </body>
</html>
